- groups = Group.find(:all)
- if groups.any?
  %p
    = t('reader_extension.permitted_groups')
    %br
    - fields_for @page do |f|
      = render :partial => 'admin/groups/chooser', :locals => {:f => f}
