/* index page */

#content table.index .node .message a, #content table.index .node .message a:visited {
  font-size: 115%;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#content table.index .node .message a.functional, #content table.index .node .message a.functional:visited {
  color: #c00;
}

#content table.index .node .message small {
  color: #999;
}

/* show and send page */

div.preview {
  width: 70%;
}

div.preview div.message_header, div.preview div.preview_controls {
  width: 100%;
  overflow: hidden;
  background-color: #EAE3C5;
  color: #7d786b;
  font-size: 80%;
  line-height: 1.5;
  border: 1px solid #EAE3C5;
}

div.preview div.message_header {
  height: 100px;
}

div.preview div.message_header ul {
  margin: 0;
  padding: 6px 14px;
  list-style-type: none;
}

div.preview div.message_header ul li.subject{
  font-size: 1.6em;
  margin-top: 6px;
}

div.preview div.message_header ul li.mime-version, div.preview div.message_header ul li.content-type {
  display: none;
}

div.preview iframe.message_body {
  width: 100%;
  height: 520px;
  margin: 0;
  border: 0;
  border-left: 1px solid #EAE3C5;
  border-right: 1px solid #EAE3C5;
  overflow: auto;
}

div.preview div.preview_controls {
  height: 24px;
}

div.preview div.preview_controls p {
  margin: 2px 14px;
  text-align: right;
}

div.preview div.preview_controls a {
  text-decoration: none;
  color: #c00;
}

div.delivery {
  position: relative;
  float: right; 
  width: 27%;
}

div.delivery h1, div.delivery h2 {
  margin-top: 0;
}

div.delivery_form {
  position: relative;
  height: 650px; 
  overflow: auto;
}

div.delivery_form label.disabled {
  color: #999;
}

div.delivery p.selectors {
  font-size: 85%;
}

div.delivery p {
  padding: 0;
  margin: 0 0 10px 0;
  color: #333;
  font-size: 85%;
}

div.delivery ol {
  list-style: none;
  margin: 10px 0 10px 20px;
  padding: 0;
  color: #666;
  font-size: 85%;
}

div.delivery ol li.sent {
  color: #ccc;
}

div.delivery p.buttons {
  position: absolute;
  bottom: 4px;
  margin: 0;
}

/* edit pages */

#content .form-area p.body {
  margin-top: 20px;
}

ul.help {
  list-style: square;
  color: #666;
  font-size: 85%;
}

ul.help code {
  color: #c00;
  font-size: 115%;
}

