- if Radiant.config['reader.share_details?']
  %h3
    =t('reader_extension.dashboard.directory')
  %ul
    %li
      = link_to t("reader_extension.directory"), readers_url
    %li
      = link_to t("reader_extension.directory_csv"), readers_url(:format => :csv)
    %li
      = link_to t("reader_extension.directory_vcard"), readers_url(:format => :vcard)