%p
  - if current_reader.newly_activated?
    = t("reader_extension.dashboard.welcome", :name => current_reader.name, :site => Radiant.config['site.title'])
  - else
    = t("reader_extension.dashboard.introduction", :name => current_reader.name, :site => Radiant.config['site.title'])
