%p
  = t('reader_extension.reset_message_instructions')

- content_for :breadcrumbs do
  = link_to t('reader_extension.home').titlecase, '/'
  &gt; 
  = t('reader_extension.reset_password')

- content_for :title do
  = t('reader_extension.reset_message_sent')
