- reader ||= @reader
- group ||= @group
- membership = reader.membership_of(group)
- cssclass = membership ? "fake_checkbox checked" : "fake_checkbox unchecked"

= link_to reader.preferred_name, toggle_admin_membership_url(:group_id => group.id, :reader_id => reader.id),  {:class => cssclass, :id => "toggle_reader_#{reader.id}"}
- if membership
  %span.role
    = render :partial => 'admin/memberships/role', :locals => {:membership => membership, :group => group}
