- reader ||= @reader
- group ||= @group
- cssclass = reader.has_group?(group) ? "fake_checkbox checked" : "fake_checkbox unchecked"

= link_to reader.name, admin_toggle_group_membership_url(:group_id => group.id, :reader_id => reader.id),  {:class => cssclass, :id => "toggle_reader_#{reader.id}"}
