@import compass

#content 
  form
    p
      span.filter
        float: right
        width: 400px
        text-align: right
        label
          display: inline
    div.body
      padding: 12px 20px 20px
      background: image_url('admin/vertical_tan_gradient.png') top left repeat-x #f5f1e2
      +box-shadow(rgba(0,0,0,0.15), 2px, 2px, 3px)
      p
        margin-top: 0
        label
          color: #333
          text-shadow: none
      textarea
        border: 1px solid #ccc
        
  ul.help
    list-style: square
    padding-left: 40px
    color: #ccc
    font-size: 85%
    code
      color: white
      font-size: 115%
