- readers ||= []

- if readers.any?
  - if readers.respond_to?(:previous_page) && readers.previous_page
    = pagination_and_summary_for(readers, t('reader_extension.person'))

  - else
    %table.readers
      %tbody
        = render :partial => 'readers/reader', :collection => readers

  - if readers.respond_to?(:next_page) && readers.next_page
    = pagination_and_summary_for(readers, t('reader_extension.person'))
