- reader ||= @reader
- memberships = reader.memberships
- if memberships.any?
  %ul.groups
    - memberships.uniq.each do |membership|
      - if membership.group.visible_to?(current_reader)
        %li
          = link_to_group(membership.group)
          - if membership.role?
            %span.role
              = membership.role
