%p{ :class => thing.errors.on(tag[:symbol]) ? 'with_errors' : '' }
  %label{ :for => tag[:fieldid], :class => tag[:required] ? 'required' : '' }
    = tag[:label]
    %span.formnote
      = tag[:help]
  %br
  - value = thing.new_record? ? thing.current_password : ''
  = password_field_tag tag[:name], value, :class => tag[:class]