- content_for :reader_css do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/reader.css', :media => 'all'}

- content_for :reader_js do
  %script{:src => '/javascripts/reader.js', :type => 'text/javascript'}

- content_for :reader_css do
  - reader_css_paths.each do |path|
    %link{:rel => 'stylesheet', :href => path, :type => 'text/css'}

- content_for :reader_js do
  - reader_js_paths.each do |path|
    %script{:src => path, :type => 'text/javascript'}

- content_for :person do
  - if @reader && !@reader.new_record?
    = standard_gravatar_for(@reader)
  
- content_for :section_navigation do
  = link_to t('navigation.readers'), readers_url, :class => 'section'
  = render :partial => 'readers/controls'
  - if Radiant::Config['reader.help_url']
    = link_to t('navigation.reader_help'), Radiant::Config['reader.help_url']
