= render :partial => 'flasher'
= render :partial => 'controls'

%div
  %h1 
    People
  #readers
    - @readers.each do |reader|
      = link_to gravatar_for(reader, {:size => 64}, {:class => 'gravatar'}), reader_url(reader), {:title => reader.name}
  %div.stretcher
    %p 