= render :partial => 'flasher'

%div
  #readers
    - @readers.each do |reader|
      = link_to gravatar_for(reader, {:size => 100}, {:class => 'big_gravatar'}), reader_url(reader), {:title => reader.name}
  %div.stretcher
    %p 

- content_for :breadcrumbs do
  = link_to 'Home', '/'
  &gt;
  People

- content_for :pagetitle do
  People
