= render :partial => 'readers/flasher'

%div.login_form
  %h1 
    log in

  = render :partial => 'login_form', :locals => {:backto => @backto}

- content_for :breadcrumbs do
  = link_to 'Home', '/' 
  &gt; Log in

- content_for :title do
  Log in
  