/*

cool grey 3: #cacac8
cool grey 6: #afafaf
cool grey 11: #4d4e53
rubine red: #d1005d
agreeable green: #5da454

*/


/***** friendly forms ********/

form.friendly input.titular {
  width: 95%;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.6em;
  line-height: 1;
  color: #4d4e53;
	clear: both; 
  border: 1px solid #afafaf;
	padding: 5px;
}

form.friendly textarea, form.friendly select, form.friendly input.standard {
  width: 95%;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.2em;
  line-height: 1;
  color: #4d4e53;
  border: 1px solid #8c8d8e;
  padding: 5px;
}

form.friendly input.login {
  width: 50%;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.2em;
  line-height: 1;
  color: #4d4e53;
  border: 1px solid #8c8d8e;
  padding: 5px;
}

form.friendly textarea {
  line-height: 1.2;
}

span.formnote {
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-size: 75%;
  color: #afafaf;
}

/***** input validation and error reporting ********/

p.haserror {
  color: #d1005d !important;
}

form.friendly div.error-with-field {
  display: inline;
}

form.friendly small.error {
  display: none;
}

form.friendly p.haserror {
	border-left: 4px solid #d1005d;
	margin-left: -16px;
	padding-left: 12px;
	color: #d1005d !important;
}

form.friendly p.haserror input, p.haserror textarea {
	border: 1px solid #d1005d !important;
}

form.friendly p.haserror label {
	color: #d1005d !important;
}

form.friendly div.innocuous {
  display: none;
}

form.friendly label.required {
  font-weight: bold;
}

ul.friendly {
  list-style: square;
  font-family: HelveticaNeue-Roman, helvetica, arial, sans-serif;
  font-size: 85%;
  color: #4d4e53;
  padding-left: 0;
  margin-top: 0;
}

/***** gravatars and other useful things ********/

img.gravatar {
  float: left;
  margin: 0 10px 3px 0;
}

img.thumbnail_gravatar {
  float: left;
  margin: 2px 10px 10px 0;
}

img.big_gravatar {
  float: left;
  margin: 8px 10px 4px 0;
}


/***** system messages and controls ********/

#system_messages {
  
  
}

.notice, .error {
  position: absolute;
  width: 250px;
  right: 0;
  background-color: inherit;
  color: white;
  margin: 0;
  padding: .75em;
  padding-top: 0;
  padding-bottom: 0;
}
.notice {
  background-color: #0c3;
  border: 3px solid #7FE699;
}
.error {
  background-color: #d1005d;
  border: 3px solid #ff0071;
}

#reader_links {
  font-size: 80%;
}