%p
  You can use tags, snippets and assets in your messages just as you would in a page. 
  There are also a few simple mailmerge tags that you can use to place information about the recipient (or yourself) in each message as it is sent out. 
  Most are self-explanatory:
%ul.help
  %li
    %code &lt;r:sender:name /&gt;
    is the name of the person who created the message
  %li
    %code &lt;r:sender:email /&gt;
    is the email address of the person who created the message (which will also be the from: address)
  %li
    %code &lt;r:recipient:name /&gt; 
  %li
    %code &lt;r:recipient:email /&gt;
  %li
    %code &lt;r:recipient:login /&gt;
  %li
    %code &lt;r:recipient:password /&gt; 
    only works for new accounts: after login we forget the unencrypted password
  %li
    %code &lt;r:recipient:url /&gt;
    is the address of the page about this person
  %li
    %code &lt;r:recipient:edit_url /&gt; 
    is the address of the preferences form
  %li
    %code &lt;r:recipient:activation_url /&gt;
    is the address that will activate a newly-created account
  %li
    %code &lt;r:recipient:description /&gt;
