%p
  You can use tags, snippets and assets in your messages just as you would in a page. 
  There are also a few simple mailmerge tags that you can use to place information about the recipient (or yourself) in each message as it is sent out. 
  They should be self-explanatory:
%ul
  %li
    %code &lt;r:sender:name /&gt; 
  %li
    %code &lt;r:sender:email /&gt;
  %li
    %code &lt;r:recipient:name /&gt; 
  %li
    %code &lt;r:recipient:email /&gt;
  %li
    %code &lt;r:recipient:login /&gt;
  %li
    %code &lt;r:recipient:url /&gt;
  %li
    %code &lt;r:recipient:description /&gt;
