%span.function
  - if message.administrative?
    = message.function.description
    - if message.groups.any?
      = t('reader_extension.for')
  = message.groups.collect { |group| link_to message.group.name, admin_group_url(message.group) }.join(', ')