%span.function
  - if message.administrative?
    = message.function.description
    - if message.group
      = t('reader_extension.for')
  - if message.group
    = link_to message.group.name, admin_group_url(message.group)