- include_stylesheet('admin/reader')

= render_region :top 
- render_region :main do |main|

  - main.edit_header do
    %h1
      Create 
      = render :partial => 'message_description'

  - main.edit_form do
    - form_for :message, @message, :url => admin_messages_url, :html => {:id => 'message_form', :method => 'post'} do |f|
      = render :partial => 'form', :object => f

  - main.edit_footer do
    = render :partial => 'help'
