%h1 
  Message 
  
%p.actions
  edit |
  remove |
  deliver

%div.message_header
  %ul
    - @message.preview.each_header do |name, value|
      %li
        = name + ':'
        %strong
          = value

%iframe.message_preview{:src => preview_admin_message_url(@message), :width => '100%', :height => '500px'}
