- with_children ||= false

.group        
  %h3
    = link_to group.name, group_url(group)
      
  %span.context
    = t("reader_extension.member_count", :count => group.readers.count) + '.'
    
  - if group.description
    %p
      = group.description
