.group        
  %h3
    = link_to group.name, group_url(group)
      
  %p.context
    = t("reader_extension.member_count", :count => group.readers.count) + '.'
    
  - if group.description
    %p
      = group.description
      
  - if group.children.any?
    .indented
      = render :partial => 'groups/group', :collection => group.children