div#controls {
  font-family: helvetica, arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.4;
  color: #cacac8;
  margin-bottom: 12px; }

/***** friendly forms ********/

form.friendly {
  margin: 0 0 60px 0; }
form.friendly p {
  margin: 1em 0 0 0; }
form.friendly input.titular {
  clear: both;
  width: 95%;
  font-family: Georgia,Palatino,Sylfaen,"Times New Roman", Times, serif;
  font-size: 1.2em;
  line-height: 1;
  color: #4d4e53;
  border-width: 1px;
  border-style: solid;
  border-color: #cacac8;
  padding: 5px;
  font-size: 200%; }
form.friendly textarea, form.friendly select, form.friendly input.standard {
  width: 95%;
  font-family: Georgia,Palatino,Sylfaen,"Times New Roman", Times, serif;
  font-size: 1.2em;
  line-height: 1;
  color: #4d4e53;
  border-width: 1px;
  border-style: solid;
  border-color: #cacac8;
  padding: 5px; }
form.friendly input.login {
  width: 50%;
  font-family: Georgia,Palatino,Sylfaen,"Times New Roman", Times, serif;
  font-size: 1.2em;
  line-height: 1;
  color: #4d4e53;
  border-width: 1px;
  border-style: solid;
  border-color: #cacac8;
  padding: 5px; }
form.friendly textarea {
  color: #559dc4;
  line-height: 1.4; }
form.friendly span.formnote {
  font-family: helvetica, arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.4;
  color: #cacac8; }
form.friendly div.error-with-field {
  display: inline; }
form.friendly small.error {
  display: none; }
form.friendly p.context {
  margin: 0; }
form.friendly div.innocuous {
  display: none; }
form.friendly label.required {
  font-weight: bold; }

/***** input validation and error reporting ********/

p.errornote {
  color: #d1005d;
}

p.haserror {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #d1005d;
  padding-left: 12px;
  color: #d1005d; }
  p.haserror input, p.haserror textarea {
    border-width: 1px;
    border-style: solid;
    border-color: #d1005d; }
  p.haserror label {
    color: #d1005d; }

ul.friendly {
  list-style: square;
  font-family: helvetica, arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.4;
  color: #4d4e53;
  padding-left: 0;
  margin-top: 0; }

h2.inviting, a.inviting {
  display: block;
  font-family: 'HelveticaNeue-Light', helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 0;
  margin-top: 50px; }

/***** gravatars and other useful things ********/

img.gravatar {
  float: left;
  margin: 0 10px 3px 0; }

img.thumbnail_gravatar {
  float: left;
  margin: 2px 10px 10px 0; }

img.big_gravatar {
  float: left;
  margin: 8px 10px 4px 0; }

/***** system messages and controls ********/

.notice, .error {
  position: absolute;
  width: 250px;
  right: 0;
  background-color: inherit;
  color: white;
  margin: 0;
  padding: .75em;
  padding-top: 0;
  padding-bottom: 0; }

.notice {
  background-color: #0c3;
  border: 3px solid #7FE699; }

.error {
  background-color: #c00;
  border: 3px solid #ff0071; }

#reader_links {
  font-size: 80%; }
