Hello <%= @reader.name %>,

Welcome to <%= Radiant::Config['forum.site_title'] %>! And thanks for persevering with the registration process. Your account is now active and you will have been logged in automatically. 

You can put in a bit more information about yourself at any time by going to <%= Radiant::Config['forum.site_url'] %>/users/me

best wishes,

Your Benign Robotic Overlord
