%thead
  %tr
    - render_region :thead do |thead|
      - thead.title_header do
        %th.reader Name / Login
      - thead.description_header do
        %th.reader_description Self-description
      - thead.modify_header do
        %th.modify Modify
