- @page_title = @reader.name + ' ' + t('reader_extension.account') + ' - ' + default_page_title
- body_classes << 'edit_user'

- render_region :main do |main|
  - main.edit_header do
    %h1 Edit Reader
      
  - main.edit_form do
    = render :partial => 'form'
