- include_stylesheet('admin/reader')
- render_region :main do |main|
  - main.edit_header do
    %h1 Invite a reader
    %p This will cause an invitation (and activation) message to be sent to the email address that you specify.
  - main.edit_form do
    = render :partial => 'form'
