- chooser ||= @page
- if chooser
  - disabled ||= false

  %ul
    - Group.all.each do |group|
      %li
        - checked = chooser.has_group?(group)
        = check_box_tag 'group_ids', group.id, checked, :id => "group_ids_#{group.id}", :disabled => disabled
        %label{:for => "group_ids_#{group.id}", :class => 'checkbox'} 
          = group.name
