%tr
  - render_region :thead do |thead|
    - thead.name_header do
      %th.group Name
    - thead.home_header do
      %th.home Home page
    - thead.members_header do
      %th.members Members
    - thead.pages_header do
      %th.pages Pages
    - thead.modify_header do
      %th.modify Modify
