- readers ||= @readers

- if readers.any?

  - if readers.respond_to?(:previous_page) && readers.previous_page
    = pagination_and_summary_for(readers, t('reader_extension.person'))

  - if readers.size > 1
    - cols = 3
    - columns = readers.in_groups_of((readers.size / cols), false)
  - else
    - columns = [readers]
  - columns.each do |column|
    %div.column
      = render :partial => 'accounts/reader', :collection => column

  - if readers.respond_to?(:next_page) && readers.next_page
    = pagination_and_summary_for(readers, t('reader_extension.person'))

